asgiref==3.5.0
backports.zoneinfo==0.2.1
branca==0.4.2
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
decorator==5.1.1
Django==4.0.3
django-crispy-forms==1.14.0
folium==0.12.1.post1
future==0.18.2
geocoder==1.38.1
gunicorn==20.1.0
idna==3.3
Jinja2==3.1.1
MarkupSafe==2.1.1
numpy==1.22.3
ratelim==0.1.6
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.9
whitenoise==6.0.0
